nav {
 background-color: none;
}

ul {
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin: 0 auto;
}

nav ul li {
    float: left;  /* makes block elements behave like inline elements */
}

nav li a {
    text-decoration: none; /* this removes the links underline */
    color: none;
    display: block;  /* adds separate block area for each menu item */
    padding: 0 30px;
}

.img {
    padding: 20 20 20 20;
}

div img {
    margin: auto
}