nav {
 background-color: inherit;
}

ul {
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin: 0 auto;
}

nav ul li {
    float: left;  /* makes block elements behave like inline elements 
}

nav li a {
    text-decoration: none; /* this removes the links underline */
    color: darkgray;
    display: block;  /* adds separate block area for each menu item */
    padding: 0 30px;
}

/*.img {*/
/*    padding: 20 20 20 20;*/
/*}*/

img {
    margin: auto;
}

/* header {
    font-family: sans-serif;
    font-size-adjust: inherit;
    color: lightblue;
} */

/*.header {*/
    padding: 70px; /* some padding */
    text-align: center; /* center the text */
    background: none; /* #1abc9c green background */
    color: inherit; /* white text color */
/*}*/

.footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
}