ul {
    list-style-type: none;  /*Removes the bullets*/
    margin: 0;
    padding: 0;  /*remove browser default settings*/
    overflow: hidden;    
    /*background-color: #dddddd;*/
}

/*ul {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/

/*li {*/
/*    display: inline;*/
/*}*/

nav li a {
    text-decoration: none; /* this removes the links underline */
    color: darkgray;
    display: block;  /* adds separate block area for each menu item */
    padding: 10px 30px;
}

li {
    float: left;
    /*border-right: 1px solid #bbb;*/
}

li a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to   (  ) on hover */
li a:hover {
    background-color: lightblue;
}

.active {
    background-color: blue;
}